<div class="card text-center">
  <div class="card-header bg-dark text-white">
    QRremember ~ Registrar
  </div>
  <div class="card-body">


    <div *ngIf="registrado" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Bienvenid@ {{registrado_nombre}} !</strong> Ya estas registrad@.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>ERROR!</strong> no se ha podido identificar.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <form #registroForm="ngForm" (ngSubmit) = "registrar(registroForm.value)">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control text-center" [(ngModel)]="usuario.nombre"  #nombre="ngModel" name="nombre" required maxlength="20">
        <div *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Campo necesario.</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control text-center" [(ngModel)]="usuario.email"  #email="ngModel" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="50">
        <div *ngIf="email.invalid && email.touched" class="form-text text-danger">Campo necesario con formato email.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control text-center" [(ngModel)]="usuario.password" #password="ngModel" name="password" required minlength="6" >
        <div *ngIf="password.invalid && password.touched" class="form-text text-danger">Campo necesario (min 6 caracteres).</div>
      </div>
      <button type="submit" class="btn btn-secondary" [disabled]="!registroForm.valid" >Registrar</button>
    </form>



  </div>
</div>
