<header class="py-3 mb-3 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle"
        id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
        <em class="fa fa-qrcode fa-3x"></em>
        <h3 class="logo">QRremember</h3>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownNavLink">
        <li><a class="dropdown-item" routerLink="/" routerLinkActive="bg-dark text-white" [routerLinkActiveOptions]="{exact:
            true}" aria-current="page">Inicio</a></li>
        <li><a class="dropdown-item" href="#">Página Fallecido [main]</a></li>
        <li><a class="dropdown-item" href="#">Ultimos fallecidos</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">ADMIN</a></li>
      </ul>
    </div>

    <div class="d-flex align-items-center justify-content-between">
      <form class="w-50 me-3">
        <input type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
      </form>

      <div class="flex-shrink-0 dropdown" *ngIf="login">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><a class="dropdown-item" href="#">Mi perfil</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Salir</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" routerLink="/usuario/identificar" routerLinkActive="active" >Identificar</button>
        <button type="button" class="btn btn-secondary" routerLink="/usuario/registrar" routerLinkActive="active" >Registrar</button>
      </div>

    </div>
  </div>
</header>