<div class="card text-center" *ngIf="mostrar">
    <div class="card-header bg-dark text-white">
        {{datos.nombre}} {{datos.apellidos}} {{edad}} años  <p class="card-text"><small class="text-muted"> {{datos.fecha_nacimiento}} / {{datos.fecha_fallecimiento}}  </small>  </p>
    </div>
    <div class="card-body">
        

        <!-- datos -->
        <div class="mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src=" {{datos.imagen}} " class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text"> {{datos.descripcion}} </p>
                  
                  
                </div>
              </div>
            </div>
          </div>

         


    </div>
  </div>
  