<div class="card text-center">
  <div class="card-header bg-dark text-white">
    Inicio
  </div>
  <div class="card-body">
    <em class="fa fa-qrcode fa-3x"></em>
        <h3 class="logo">QRremember</h3>
        <p>Cuando alguien a quien amamos muere, existe una tendencia natural a querer hablar de él tanto como sea posible, tal vez para poner nuevas fotos en marcos en la casa, todo para ayudar a mantener viva su memoria y con nosotros. Ya sea que nuestro ser querido sea enterrado o incinerado, se tiene mucho cuidado al elegir un monumento apropiado para ellos, ya sea una piedra, un banco, un árbol o alguna otra forma de recordar. Esto puede incluir no solo palabras, sino también imágenes u otras imágenes y logotipos. Todo esto hace que el monumento sea relevante y brinda comodidad.</p>
  </div>
</div>
