<div class="card text-center">
  <div class="card-header bg-dark text-white">
    Ultimos 10 Fallecidos
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush" >

      <li *ngFor="let fallecido of fallecidos; let i = index" class="list-group-item"> {{ fallecido.nombre }} {{ fallecido.apellidos }}
        <br> 
        <var class="text-secondary"> {{ fallecido.fecha_nacimiento | date: 'dd/MM/yyyy'}} - {{ fallecido.fecha_fallecimiento | date: 'dd/MM/yyyy'}} </var> 
    </ul>
    <p *ngIf="error" >{{error}}</p>
  </div>
</div>