<div class="card text-center">
    <div class="card-header bg-dark text-white">
      QRremember ~ Identificar
    </div>
    <div class="card-body">


      <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>ERROR!</strong> no se ha podido identificar.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


      <form #loginForm="ngForm" (ngSubmit) = "login(loginForm.value)">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control text-center" ngModel #email="ngModel" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control text-center" ngModel #password="ngModel" name="password" required minlength="6" >
        </div>
        <button type="submit" class="btn btn-dark" [disabled]="!loginForm.valid" >Entrar</button>
      </form>



    </div>
  </div>
